<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>SkillBar</title>
</head>
<body>
    <main class="container">
        <h2>Skills Bar</h2>
        <div class="skills">
            <span class="Name">Html</span>
            <div class="percent">
                <div class="progress" style="width: 80%;"></div>
            </div>
            <span class="Value">80%</span>
        </div>
        <div class="skills">
            <span class="Name">Css</span>
            <div class="percent">
                <div class="progress" style="width: 70%;"></div>
            </div>
            <span class="Value">70%</span>
        </div>
        <div class="skills">
            <span class="Name">js</span>
            <div class="percent">
                <div class="progress" style="width: 50%;"></div>
            </div>
            <span class="Value">50%</span>
        </div>
        <div class="skills">
            <span class="Name">php</span>
            <div class="percent">
                <div class="progress" style="width: 20%;"></div>
            </div>
            <span class="Value">20%</span>
        </div>
    </main>
</body>
</html>